            .header {
                background-image: url="https://images3.publicschoolreview.com/article/462x462/1000/665/Tuition-for-Public-Schools-Some-Districts-are-Saying-Yes--pEN7c4.jpg";
                background-position: center;
                background-size: cover;
                Height: 700px;
                width: 100%;
            }
            #header-text {
                margin: 0 auto;
                position: Relative;
                text-align: center;
                top: 25%;
                width: 60%;
            }
            p {
                font-family: Georgia, serif;
            }
