body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.header {
                background-image: url("https://images3.publicschoolreview.com/article/462x462/1000/665/Tuition-for-Public-Schools-Some-Districts-are-Saying-Yes--pEN7c4.jpg");
                background-position: center;
                background-size: cover;
                Height: 700px;
                width: 100%;
            }
            
            h1 {
                font-size: 100px;
                color: Darkslategray;
                font-family: sarif;
            }
            
            h3 {
                font-size:50px;
                color: Darkslategray;
                font-family: sarif;
                top: 25%;
            }
            
            h5 {
                font-size: 30px;
                color: Darkslategray;
                font-family: sarif;
                width: 50%;
                background-position: center;
                padding-left: 200px;
            }
            
            #header-text {
                margin: 0 auto;
                position: Relative;
                text-align: center;
                top: 25%;
                width: 60%;
            }
            
            p {
                font-family: Georgia, serif;
            }